.image_container {
  padding: 1rem;
  height: 15rem;
  width: 15rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin: 0;
  margin-top: 1.25em;
  justify-self: start;
  padding-left: 2em;
}

.image_container img {
  max-width: 100%;
  max-height: 100%;
}

.quantity {
  display: flex;
  padding: 1.5em 0;
}

.count {
  display: flex;
  align-items: flex-start;
}

.counter {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3em;
  font-weight: bold;
  font-size: 2rem;
}

.total,
.price {
  margin: 0;
  font-weight: bold;
  padding: 1.25em;
  font-size: 2rem;
  min-width: 5em;
  text-align: center;
}

.remove {
  cursor: pointer;
  margin-top: 1.5em;
  align-self: flex-start;
  padding: 1.5em;
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-radius: 0.25em;

  background-color: #fff;
  background-image: url('https://iconarchive.com/download/i104860/papirus-team/papirus-status/user-trash-full.ico');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;

  transition: background-color 0.25s, background-size 0.15s;
}

.remove:hover {
  background-color: rgb(255, 227, 227);
  background-size: 75%;
}

.inc {
  color: rgba(53, 201, 23, 0.75);
}
.dec {
  color: rgba(219, 65, 38, 0.75);
}

.inc:hover,
.dec:hover {
  font-size: 2.5rem;
}

.inc,
.dec {
  cursor: pointer;
  display: block;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: 3px solid currentColor;
  border-radius: 0.25em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.25s, font-size 0.15s;
}

.inc:hover {
  background-color: rgb(223, 255, 211);
}
.dec:hover {
  background-color: rgb(255, 221, 214);
}
