.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5em 0 3em;
}

.items_container {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content repeat(auto-fill, min-content);
  justify-items: center;
  align-content: start;
}

.category {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(78, 72, 170);
  text-align: center;
}

.total {
  justify-self: end;
  grid-column: -3 / -1;
  padding: 0 3em;
  text-align: right;
  font-weight: bold;
  font-size: 2.5rem;
}
.total > *:not(:last-child) {
  margin-bottom: 0.25em;
}

.total .remove_all {
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background-color: #fff;
  color: rgb(255, 81, 81);
  font-size: 1.6rem;
  font-weight: bold;
  border: 3px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;

  transition: all 0.3s;
}

.total .remove_all:hover {
  color: rgb(177, 0, 0);
  background-color: rgb(253, 114, 114);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(192, 21, 152, 0.5),
      rgba(29, 114, 194, 0.5)
    ),
    url('https://images.macrumors.com/t/jXqUxBjwyt16A254unbNN51zn9A=/1920x/https://images.macrumors.com/article-new/2019/02/MR-Future-Products-2020-2.png');
  background-position: center;
  background-size: cover;
}

.banner h2 {
  margin-top: -0.75em;
  font-size: 10rem;
  color: #fff;
  letter-spacing: 0.01rem;
  color: #ffffff00;
  text-shadow: -0.35rem -0.35rem #fff;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(0, 204, 255, 0.9),
    rgba(25, 0, 255, 0.9),
    rgba(190, 0, 248, 0.9),
    rgba(248, 0, 186, 0.9),
    rgba(248, 0, 116, 0.9)
  );
}

.banner .shop:link,
.banner .shop:visited {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 3rem;
  padding: 1em 2em;
  border-radius: 0.25em;
  border: 3px solid rgba(255, 0, 234, 0.75);
  color: #fff;
  letter-spacing: 0.01rem;
  color: #ffffff00;
  text-shadow: -0.35rem -0.35rem #fff;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(248, 0, 116, 0.9),
    rgba(248, 0, 186, 0.9),
    rgba(190, 0, 248, 0.9),
    rgba(119, 0, 255, 0.9),
    rgba(0, 153, 255, 0.9)
  );
}

.banner .shop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);

  transition: background-color 0.25s;
}

.banner .shop:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.35);
}
