.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5em 0 3em;
}

.items_container {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content repeat(auto-fill, min-content);
  justify-items: center;
  align-content: start;
}

.category {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(102, 8, 114, 0.75);
  text-align: center;
}

.total {
  justify-self: end;
  grid-column: -3 / -1;
  padding: 0 3em;
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
}
.total > *:not(:last-child) {
  margin-bottom: 0.25em;
}

.total .remove_all {
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background-color: #fff;
  color: rgb(255, 81, 81);
  font-size: 1em;
  font-weight: bold;
  border: 3px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;

  transition: all 0.3s;
}

.total .remove_all:hover {
  color: rgb(177, 0, 0);
  background-color: rgb(253, 114, 114);
}

@media screen and (max-width: 60em) {
  .container {
    font-size: 1.4rem;
  }
  .items_container {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 43.75em) {
  .category {
    display: none;
  }

  .items_container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .total {
    margin-top: 5rem;
    align-self: center;
    text-align: center;
    font-size: 3rem;
  }
}

@media screen and (max-width: 30em) {
  .total {
    margin-top: 3rem;
    align-self: center;
    text-align: center;
    font-size: 2.5rem;
  }
}
