html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (max-width: 80em) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 70em) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-y: scroll;
  margin: 0;
  font-size: 1.6rem;
  color: #1d1d1f;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
