html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-size: 1.6rem;
  color: #1d1d1f;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
