.title {
  position: relative;
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;

  background-image: linear-gradient(
    to left top,
    rgb(212, 0, 255),
    rgb(174, 0, 255)
  );

  opacity: 0;
  transform: translateY(100%);

  transition: all 0.2s;
}

.title.open {
  opacity: 1;
  transform: translateY(0);
}
