.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(192, 21, 152, 0.5),
      rgba(29, 114, 194, 0.5)
    ),
    url('https://images.macrumors.com/t/jXqUxBjwyt16A254unbNN51zn9A=/1920x/https://images.macrumors.com/article-new/2019/02/MR-Future-Products-2020-2.png');
  background-position: center;
  background-size: cover;
}

.banner h2 {
  padding: 0 1em;
  margin-top: -0.75em;
  font-size: 10rem;
  color: #fff;
  letter-spacing: 0.01rem;
  color: #ffffff00;
  text-shadow: -0.35rem -0.35rem #fff;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(0, 204, 255, 0.9),
    rgba(25, 0, 255, 0.9),
    rgba(190, 0, 248, 0.9),
    rgba(248, 0, 186, 0.9),
    rgba(248, 0, 116, 0.9)
  );
}

@media screen and (max-width: 70em) {
  .banner h2 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 40em) {
  .banner h2 {
    font-size: 5rem;
  }
}

.banner .shop:link,
.banner .shop:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 3rem;
  padding: 0.85em 2em 0.8em;
  border-radius: 0.25em;
  border: 3px solid rgba(255, 0, 234, 0.75);
  color: #fff;
  letter-spacing: 0.01rem;
  color: #ffffff00;
  text-shadow: -0.25rem -0.25rem #fff;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(248, 0, 116, 0.9),
    rgba(248, 0, 186, 0.9),
    rgba(190, 0, 248, 0.9),
    rgba(119, 0, 255, 0.9),
    rgba(0, 153, 255, 0.9)
  );
}

@media screen and (max-width: 40em) {
  .banner .shop {
    font-size: 1.5rem;
  }
}

.banner .shop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);

  transition: background-color 0.25s;
}

.banner .shop:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.35);
}
